body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
   
}

header {
    background-color: #333;
    padding: 1rem;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    
}

section {
    margin-bottom: 2rem;
    text-align: center;
    max-width: 800px;
}

section img {
    
    width: 800px;
    height: 500px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.subtitulo-foto {
   padding-top: 2em;
}
.foto-espaço {
    padding-top: 2em;
}
.imagem-de-fundo {
    background-image: url(/img/fundo-oceano.jpeg);
}

.logo img{
    height: 50px; 
   
}
#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#login-form div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#login-form label {
    margin-bottom: 0.5rem;
}

#login-form input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#login-form button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

#login-message {
    margin-top: 1rem;
    font-size: 1rem;
}
.carousel {
    position: relative;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    width: fit-content;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 800px;
    height: 500px;
    object-fit: cover;
    margin-right: 10px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 1rem;
    z-index: 1;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}